@import "variables";
@import "themes";
@import "fonts";
@import "sizes";

.features {
  padding-top: 50px;
  margin-top: $features-mt;
  font-family: $main-font;
  &__block {
    height: 723px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  &__item {
    width: 263px;
    height: 121px;
    position: relative;
    border: 1px solid $features__item-border-color;
    cursor: pointer;
    &-title {
      margin: 52px 0 5px 0;
      font-size: 21px;
      font-weight: 600;
      color: $features__item-title-color;
      text-transform: uppercase;
    }
    &-description {
      font-size: 19px;
      font-weight: 300;
      color: $features__item-desc-color;
      text-transform: uppercase;
    }
    &-icon {
      width: 62px;
      height: 62px;
      border-radius: 50%;
      border: 1px solid $features__item-border-color;
      background: #ffffff;
      font-size: 26px;
      &-container {
        position: absolute;
        top: -40px;
        width: 76px;
        height: 76px;
        border-radius: 50%;
        border: 1px solid $features__item-border-color;
        background: #ffffff;
        z-index: 10;
      }
    }
    &:hover {
      .features__item-title {
        color: $features__item-title-hover-color;
      }
      .features__item-description {
        color: $features__item-desc-hover-color;
      }
      .features__item-icon-container {
       border-color:  $features__item-icon-hover-border-color;
      }
      .features__item-icon {
        border-color:  $features__item-icon-hover-border-color;
        background: $features__item-icon-hover-bg-color;
        color: #FFFFFF;
      }
    }
  }
  .fa-truck {
    transform: scaleX(-1);
  }
}