.footer__menu {

  padding-bottom: 60px;

  &-box {
    width: 45%;
  }

  &-item {
    width: 240px;
  }

}


.footer__copyright {

  &-container {
    position: relative;
  }

  &-socials {
    position: absolute;
    right: 0;
  }
}

