@import "variables";
@import "themes";
@import "fonts";
@import "sizes";

.footer {

  //Footer-menu
  &__menu {
    padding-top: 60px;
    padding-bottom: 44px;
    font-family: $main-font;
    background: $footer-menu-bg-color;

    &-item {
      width: 160px;

      &-title {
        margin-bottom: 35px;
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
        color: $footer-menu-item-text-color;
      }
    }

    &-list {

      &-link {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color: $footer-menu-item-link-color;

        &::after {
          content: "";
          position: absolute;
          top: 20px;
          left: 0;
          display: none;
          width: 100%;
          border-bottom: 1px solid $footer-menu-item-link-color;
        }

        &:hover {
          color: $footer-menu-item-link-color;
          text-decoration: none;

          &::after {
            display: block;
          }
        }
      }
    }
  }

  &__cards {

    &-item {
      width: 40px;
      height: 28px;
      margin-right: 10px;

      &-image {
        width: 100%;
        height: 100%;
      }
    }
  }














  //Footer-copyright
  &__copyright {
    padding-top: 40px;
    padding-bottom: 30px;
    background: $footer-copyright-bg-color;
    font-family: $main-font;
    color: $footer-copyright-text-color;

    &-content {
      font-size: 14px;
      font-weight: 400;
    }

    &-socials {

      &-list {
        width: 175px;
      }

      &-link {
        font-size: 18px;
        color: $footer-copyright-social-color;
        text-decoration: none;

        &:hover {
          color: $footer-copyright-social-color-hover;
        }
      }
    }
  }
}