@import "mixins";

.furniture {

  &__products {
    width: 70%;
  }

  &__filter {
    width: 100%;
    padding-bottom: 0;

    &-container {
      width: auto;
    }

    &-modal-background {
      position: static;
      top: 0;
      left: 0;
      display: block;
      width: 30%;
      background: #fff;
      z-index: 1;
      padding: 0 0 0 35px;
      overflow-y: auto;
    }

    &-category, &-price, &-color, &-size, &-tags {
      width: 260px;
    }
  }
}


//Modal Product

div.modal-content-quick-view {
  max-width: 1140px;
}

.modal-header-quick-view {
  margin-top: 0;
  margin-bottom: 25px;
  border: none;
}

.modal-body-quick-view {
  padding: 0 20px;
  margin: 0 auto;
}

.modal-footer-quick-view {
  border: none;
}

button.furniture__filter-quick-view-close {
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  background-color: #2a2a2a;
  opacity: 1;

  &:hover {
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background-color: #2a2a2a;
    opacity: 1;
  }
}

.quick-view {

  &__image-block {
    width: 40%;
    height: 100%;
    margin-bottom: 0;
    margin-right: 25px;
    padding: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    background: #f4f5f7;
  }

  &__item-content-wrapper {
    width: 60%;
  }

  &__item-title-block {
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
  }

  &__item-title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__item-rating {
    font-size: 16px;
  }

  &__item-reviews-number {
    font-size: 13px;
    margin-left: 10px;
  }

  &__item-price-block {
    margin-bottom: 20px;
    padding-bottom: 22px;
    border-bottom: 1px solid #cccccc;
  }

  &__item-btn-block{
    margin-bottom: 20px;
    padding-bottom: 0;
    border-bottom: none;
  }

  &__item-btn-add-to-card {
    width: 132px;
    margin-right: 6px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__item-overview {

    padding-bottom: 24px;
    border-bottom: 1px solid #cccccc;

    &-title {
      margin-bottom: 14px;
      font-size: 15px;
      font-weight: 600;
      text-transform: capitalize;
      color: #2a2a2a;
    }

    &-description {
      margin-bottom: 22px;
      font-size: 14px;
      font-weight: 400;
      color: #a4a4a4;
    }

    &-info {
      padding-top: 25px;
      border-top: 1px solid #cccccc;

      &-affiliation {
        margin-right: 10px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 500;
        color: #2a2a2a;

        &:last-child {
          margin-right: 0;
          margin-bottom: 0;
        }

        &-value {
          margin-left: 15px;
          font-size: 13px;
          font-weight: 400;
          color: #a4a4a4;
        }
      }
    }
  }
}

.modal-footer__quick-view {
  display: block;
  margin: 0 27px;
  padding: 25px 0 35px calc(40% - 10px);
  border-top: none;

  &-socials {
    margin: 0;

    &:last-child {
      margin: 0 auto;
    }

    &-btn {
      margin-right: 6px;
      padding: 10px 10px;
      font-size: 13px;
      font-weight: 400;
      color: #a4a4a4;
      background: #fff;
      border: 1px solid #2a2a2a;
      box-sizing: border-box;

      &:last-child {
        margin-right: 0;
      }

      &-facebook:hover {
        color: #fff;
        background: #3b5998;
        border: 1px solid #3b5998;
      }

      &-google-plus:hover {
        color: #fff;
        background: #d62d20;
        border: 1px solid #d62d20;
      }

      &-twitter:hover {
        color: #fff;
        background: #4099ff;
        border: 1px solid #4099ff;
      }

      &-pinterest {
        margin-left: 6px;
      }

      &-pinterest:hover {
        color: #fff;
        background: #c92228;
        border: 1px solid #c92228;
      }

      &-linkedin:hover {
        color: #fff;
        background: #2289bf;
        border: 1px solid #2289bf;
      }
    }

    &-fa-facebook {
      font-size: 14px;
      color: #3b5998;
    }

    &-fa-google-plus {
      font-size: 14px;
      color: #d62d20;
    }

    &-fa-twitter {
      font-size: 14px;
      color: #4099ff;
    }

    &-fa-pinterest {
      font-size: 14px;
      color: #c92228;
    }

    &-fa-linkedin {
      font-size: 14px;
      color: #2289bf;
    }
  }
}