@import "variables";
@import "themes";
@import "fonts";
@import "sizes";
@import "mixins";


.furniture-gallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 603px;
  margin: 90px 0 70px 0;
  &-content {
    width: 49%;
    &-item {
      &-price {
        position: absolute;
        bottom: 123px;
        left: 480px;
        width: 105px;
        height: 105px;
        &-now {
          font-size: 20px;
        }
        &-old {
          font-size: 16px;
        }
      }
      &-bg {
        position: absolute;
        top: 0;
        right: 137px;
        width: 490px;
        height: 415px;
      }
      &-desc {
        position: absolute;
        bottom: 32px;
        right: 0;
      }
    }
    &-slider {
      &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        width: 455px;
        cursor: pointer;
        & > li {
          width: 70px;
          height: 70px;
          & > img {
            width: 60px;
            height: 60px;
          }
        }
      }
      &-btn {
        width: 40px;
      }
    }
  }
  .tabs-menu-list {
    & > li {
      font-size: 16px;
    }
  }
  &-advert{
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: $furniture-gallery-advert-bg-color;
    &-desc {
      margin: 70px 0 0 62px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &-price {
        font-size: 18px;
        color: #2a2a2a;
        font-weight: 600;
        & > span {
          color: #79ae30;
          font-size: 48px;
        }
      }
      &-title {
        font-size: 48px;
        color: #d58e32;
      }
      &-btn {
        margin-top: 15px;
        width: 136px;
        height: 54px;
        background: #79ae30;
        border-radius: 5px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        &:focus {
          outline: none;
        }
      }
    }
    &-img {
      width: 467px;
      height: 284px;
      margin: 26px 0 0 39px;
      background: url("../images/products/bedroom-bed-banner.png") 50% 50% no-repeat;
      background-size: cover;
      transform: scale(-1, 1);
    }
  }
}