@import "mixins";

.furniture {

  &__filter {

    width: 550px;
    padding-bottom: 30px;

    &-modal-background {
      position: fixed;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      padding: 90px 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 999;
      overflow-y: scroll;
    }

    &-container {
      width: 475px;
    }

    &-btn-close {
      width: 41px;
      height: 37px;
      margin-bottom: 15px;
      color: #fff;
      background: #2a2a2a;
      border: none;
      cursor: pointer;
    }

    //&-category, &-price, &-color, &-size, &-tags {
    //  width: 260px;
    //}
  }
}




//Modal Product

div.modal-content-quick-view {
  max-width: 750px;
}

.modal-header-quick-view {
  margin-top: 0;
  margin-bottom: 25px;
  border: none;
}

.modal-body-quick-view {
  padding: 0 27px;
  margin: 0 auto;
}

.modal-footer-quick-view {
  border: none;
}

button.furniture__filter-quick-view-close {
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  background-color: #2a2a2a;
  opacity: 1;

  &:hover {
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background-color: #2a2a2a;
    opacity: 1;
  }
}

.quick-view {

  &__image-block {
    width: 45%;
    height: 100%;
    margin-bottom: 0;
    margin-right: 25px;
    padding: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    background: #f4f5f7;
  }

  &__item-content-wrapper {
    width: 55%;
  }

  &__item-title-block {
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
  }

  &__item-title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__item-rating {
    font-size: 16px;
  }

  &__item-reviews-number {
    font-size: 13px;
    margin-left: 10px;
  }

  &__item-price-block {
    margin-bottom: 20px;
    padding-bottom: 22px;
    border-bottom: 1px solid #cccccc;
  }

  &__item-btn-block{
    margin-bottom: 20px;
    padding-bottom: 0;
    border-bottom: none;
  }

  &__item-btn-add-to-card {
    width: 132px;
    margin-right: 6px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__item-overview {

    padding-bottom: 24px;

    &-title {
      margin-bottom: 14px;
      font-size: 15px;
      font-weight: 600;
      text-transform: capitalize;
      color: #2a2a2a;
    }

    &-description {
      margin-bottom: 22px;
      font-size: 14px;
      font-weight: 400;
      color: #a4a4a4;
    }

    &-info {

      &-affiliation {
        margin-right: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #2a2a2a;

        &:last-child {
          margin-right: 0;
        }

        &-value {
          margin-left: 15px;
          font-size: 13px;
          font-weight: 400;
          color: #a4a4a4;
        }
      }
    }
  }
}

.modal-footer__quick-view {
  display: block;
  margin: 0 27px;
  padding: 25px 0 35px 0;
  border-top: 1px solid #cccccc;

  &-socials {
    margin: 0;

    &:last-child {
      margin: 0 auto;
    }

    &-btn {
      margin-right: 6px;
      padding: 10px 10px;
      font-size: 13px;
      font-weight: 400;
      color: #a4a4a4;
      background: #fff;
      border: 1px solid #2a2a2a;
      box-sizing: border-box;

      &:last-child {
        margin-right: 0;
      }

      &-facebook:hover {
        color: #fff;
        background: #3b5998;
        border: 1px solid #3b5998;
      }

      &-google-plus:hover {
        color: #fff;
        background: #d62d20;
        border: 1px solid #d62d20;
      }

      &-twitter:hover {
        color: #fff;
        background: #4099ff;
        border: 1px solid #4099ff;
      }

      &-pinterest {
        margin-left: 6px;
      }

      &-pinterest:hover {
        color: #fff;
        background: #c92228;
        border: 1px solid #c92228;
      }

      &-linkedin:hover {
        color: #fff;
        background: #2289bf;
        border: 1px solid #2289bf;
      }
    }

    &-fa-facebook {
      font-size: 14px;
      color: #3b5998;
    }

    &-fa-google-plus {
      font-size: 14px;
      color: #d62d20;
    }

    &-fa-twitter {
      font-size: 14px;
      color: #4099ff;
    }

    &-fa-pinterest {
      font-size: 14px;
      color: #c92228;
    }

    &-fa-linkedin {
      font-size: 14px;
      color: #2289bf;
    }
  }
}