@import "variables";
@import "themes";
@import "fonts";
@import "sizes";
@import "mixins";

body {
  overflow-y: auto;
}

.furniture {

  padding-top: 30px;
  padding-bottom: 70px;
  font-family: $main-font;

  &__title-block {
    padding-bottom: 15px;
    font-size: 22px;
    line-height: 22px;
    color: $furniture-title-color;
    border-bottom: 2px solid $furniture-title-block-border-color;
  }

  &__title {
    margin: 0;
    @include block-title;
  }

  &__hamburger {
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    vertical-align: bottom;
    text-transform: none;
    color: $furniture-hamburger-color;
    border: 2px solid $furniture-hamburger-border-color;
    cursor: pointer;
  }


  //Furniture Product
  &__products {
    width: 100%;

    &-content {
      padding-top: 30px;
      padding-bottom: 60px;
    }

    &-item {
      width: 260px;
      margin-bottom: 30px;
      overflow: hidden;

      &-container {
        display: none;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-image-block {
        position: relative;
        background: $furniture__products-item-image-block-bg;
      }

      &-image {
        width: 100%;
        height: 260px;
      }

      &-top-info {
        position: absolute;
        top: -22px;
        left: 50%;
        display: none;
        width: 43px;
        height: 43px;
        padding-bottom: 3px;
        font-size: 12px;
        font-weight: 500;
        color: $furniture__products-item-top-info-color;
        background: $furniture__products-item-top-info-bg;
        border-radius: 50%;
        transform: translate(-50%, 0);
      }

      &-btn {
        height: 37px;
        font-size: 13px;
        color: $furniture__products-item-btn-color;
        background: $furniture__products-item-btn-bg;
        border: none;
        cursor: pointer;

        &:hover {
          background: $hover-bg-color;
        }
      }

      &-btn-view {
        position: absolute;
        bottom: 0;
        display: none;
        left: 10px;
        width: 87px;
        font-weight: 400;
        text-transform: capitalize;
      }

      &-btn-add-to-card {
        position: absolute;
        bottom: 0;
        display: none;
        right: 10px;
        width: 132px;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-main-block {
        padding: 10px;
        border-left: 1px solid $furniture__products-item-main-block-border-color;
        border-right: 1px solid $furniture__products-item-main-block-border-color;
        border-bottom: 1px solid $furniture__products-item-main-block-border-color;
      }

      &-title {
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        color: $furniture__products-item-title-color;
      }

      &-rating {
        margin-bottom: 20px;
      }

      &-bottom-block {
        position: relative;
        padding-top: 18px;
        border-top: 2px solid $furniture__products-item-bottom-block-border-color;

        &::after {
          content: "";
          position: absolute;
          top: -3px;
          left: 50%;
          width: 30px;
          border-top: 3px solid $furniture__products-item-bottom-block-after-color;
          transform: translate(-50%, 0);
        }
      }

      &-bottom-btn {
        width: 37px;
        height: 37px;
        color: $furniture__products-item-bottom-btn-color;
        background: $furniture__products-item-bottom-btn-bg;
        border: 1px solid $furniture__products-item-bottom-border-color;
        cursor: pointer;
      }

      &-old-price {
        margin-right: 10px;
        font-size: 16px;
        font-weight: 600;
        color: $furniture__products-item-old-price-color;
        text-decoration: line-through;
      }

      &-price {
        width: 78px;
        height: 37px;
        font-size: 18px;
        font-weight: 600;
        color: $furniture__products-item-price-color;
        background: $furniture__products-item-price-bg;
      }

      &:hover &-top-info {
        display: flex;
      }

      &:hover &-btn {
        display: block;
      }

      &:hover &-title {
        color: $hover-text-color;
      }

      &:hover &-price{
        color: $hover-text-another-color;
        background: $hover-bg-color;
      }

    }

    &-btn-more {
      display: flex;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      font-size: 22px;
      color: $furniture__products-item-btn-more-color;
      background: $furniture__products-item-btn-more-bg;
      border: none;
      border-radius: 50%;
      box-shadow: 0 2px 2px 1px #d4d4d4;
      cursor: pointer;
    }
  }


  //Furniture filter
  &__filter {
    width: 320px;
    margin: 0 auto;
    padding-bottom: 30px;
    background: #fff;

    &-modal-background {
      position: fixed;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      padding: 90px 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 999;
      overflow-y: scroll;
    }

    &-container {
      width: 260px;
    }

    &-btn-close {
      width: 41px;
      height: 37px;
      margin-bottom: 15px;
      color: #fff;
      background: #2a2a2a;
      border: none;
      cursor: pointer;
    }



    &-title {
      margin: 0;
      padding-bottom: 15px;
      font-size: 16px;
      font-weight: 600;
      color: $furniture__filters-title-color;
      text-transform: uppercase;
      border-bottom: 1px solid $furniture__filters-title-border-color;
    }

    &-list {
      margin: 0;
      
      &-item {
        font-size: 13px;
        color: $furniture__filters-list-item-color;
        cursor: pointer;

        &:last-child {
          margin-bottom: 0;
        }

        &-point {
          font-weight: 500;
        }

        &-amount {
          width: 23px;
          height: 23px;
          font-weight: 500;
          color: $furniture__filters-list-item-amount-color;
          background: $furniture__filters-list-item-amount-bg;
          border-radius: 50%;

          &-active {
            color: $hover-text-another-color;
            background: $hover-bg-color;
          }
        }

        &:hover {
          color: $hover-text-color;
        }

        &:hover &-amount {
          color: $hover-text-another-color;
          background: $hover-bg-color;
        }

        &-active {
          color: $hover-text-color;
        }
      }
    }


    // Filter Category
    &-category {
      width: 230px;
      margin-bottom: 35px;

      &-list {
        padding-top: 30px;

        &-item {
          margin-bottom: 10px;
        }
      }
    }


    // Filter Price
    &-price {
      width: 230px;
      margin-bottom: 25px;

      &-range-slider {
        margin-top: 25px;
        margin-bottom: 20px;
      }

      &-btn {
        width: 65px;
        height: 32px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
        background: #2a2a2a;
        border: none;

        &:hover {
          color: #fff;
          background: $hover-bg-color;
        }
      }

      &-range-values {
        width: 114px;
        height: 32px;
        font-size: 14px;
        font-weight: 500;
        color: #2a2a2a;
        border: 1px solid #e1e1e1;
      }
    }


    // Filter Color
    &-color {
      width: 230px;
      margin-bottom: 40px;

      &-box {
        margin-top: 30px;
      }
    }


    // Filter Checkbox
    &-checkbox-container {
      position: relative;
      margin-bottom: 15px;
      padding-left: 25px;
      font-size: 13px;
      font-weight: 500;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: #d58e32;
      }
    }

    &-checkbox {
      position: absolute;
      height: 0;
      width: 0;
      opacity: 0;
      cursor: pointer;

      &:checked ~ &-title{
        color: #d58e32;
      }
    }

    &-checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      border-radius: 3px;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 4px;
        top: 1px;
        width: 7px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
      
      &--red {
        background: #fa5f66;
      }

      &--black {
        background: #454545;
      }

      &--yellow {
        background: #e9e600;
      }

      &--blue {
        background: #0190d3;
      }

      &--pink {
        background: #f72fe4;
      }

      &--green {
        background: #14d400;
      }
    }

    &-checkbox:checked ~ &-checkmark:after {
      display: block;
    }


    // Filter Size
    &-size {
      width: 230px;
      margin-bottom: 30px;

      &-list {
        padding-top: 30px;
      }
    }

    &-checkmark {

      margin-bottom: 50px;

      &--size {
        border: 2px solid #2a2a2a;

        &:after {
          content: "";
          position: absolute;
          display: none;
          left: 2px;
          top: -1px;
          width: 7px;
          height: 10px;
          border: solid white;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    }

    &-size-checkbox:checked ~ &-checkmark--size {
      background: #d58e32;
      border: 2px solid #d58e32;
    }


    // Filter Tags

    &-tags {
      width: 255px;

      &-container {
        margin-top: 30px;
      }

      &-item {
        margin-right: 15px;
        margin-bottom: 10px;
        padding: 6px 13px;
        font-size: 14px;
        font-weight: 400;
        color: #959595;
        border: 1px solid #959595;
        cursor: pointer;

        &--active {
          color: #d58e32;
          border: 1px solid #d58e32;
        }

        &-name {

        }
      }
    }
  }
}



//Custom range
.custom-range[type="range"] {

  &::-webkit-slider-runnable-track {
    height: 10px;
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
  }

  &::-moz-range-track {
    height: 10px;
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
  }

  &::-ms-track {
    height: 10px;
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
  }

  &::-moz-range-thumb {
    z-index: 3;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 3px solid #d58e32;
  }

  &::-webkit-slider-thumb {
    z-index: 3;
    width: 20px;
    height: 20px;
    margin-top: -7px;
    background: #fff;
    border: 3px solid #d58e32;
  }

  &::-ms-thumb {
    z-index: 3;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 3px solid #d58e32;
  }
}
.furniture__filter-price-range-slider {
  position: relative;
}

.range-slider {
  width: 100%;
}




.fa-th-list {
  margin-right: 5px;
  font-size: 18px;
}



//Modal Product

div.modal-content-quick-view {
  max-width: 420px;
}

.modal-header-quick-view {
  margin-top: 25px;
  margin-bottom: 25px;
  border: none;
}

.modal-body-quick-view {
  padding: 0 30px;
  margin: 0 auto;
}

.modal-footer-quick-view {
  border: none;
}

button.furniture__filter-quick-view-close {
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  background-color: #2a2a2a;
  opacity: 1;

  &:hover {
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background-color: #2a2a2a;
    opacity: 1;
  }
}

.quick-view {

  &__image-block {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 0 40px;
  }

  &__image {
    width: 100%;
    height: 100%;
    background: #f4f5f7;
  }

  &__item-title-block {
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
  }

  &__item-title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__item-rating {
    font-size: 16px;
  }

  &__item-reviews-number {
    font-size: 13px;
    margin-left: 10px;
  }

  &__item-price-block {
    margin-bottom: 44px;
  }

  &__item-btn-block{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
  }

  &__item-btn-add-to-card {
    width: 132px;
    margin-right: 6px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__item-overview {

    padding-bottom: 24px;

    &-title {
      margin-bottom: 14px;
      font-size: 15px;
      font-weight: 600;
      text-transform: capitalize;
      color: #2a2a2a;
    }

    &-description {
      margin-bottom: 22px;
      font-size: 14px;
      font-weight: 400;
      color: #a4a4a4;
    }

    &-info {

      &-affiliation {
        margin-right: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #2a2a2a;

        &:last-child {
          margin-right: 0;
        }

        &-value {
          margin-left: 15px;
          font-size: 13px;
          font-weight: 400;
          color: #a4a4a4;
        }
      }
    }
  }
}

.modal-footer__quick-view {
  display: block;
  margin: 0 30px;
  padding: 25px 0 35px 0;
  border-top: 1px solid #cccccc;

  &-socials {
    margin: 0 auto 18px auto;

    &:last-child {
      margin: 0 auto;
    }

    &-btn {
      margin-right: 6px;
      padding: 10px 10px;
      font-size: 13px;
      font-weight: 400;
      color: #a4a4a4;
      background: #fff;
      border: 1px solid #2a2a2a;
      box-sizing: border-box;

      &:last-child {
        margin-right: 0;
      }

      &-facebook:hover {
        color: #fff;
        background: #3b5998;
        border: 1px solid #3b5998;
      }

      &-google-plus:hover {
        color: #fff;
        background: #d62d20;
        border: 1px solid #d62d20;
      }

      &-twitter:hover {
        color: #fff;
        background: #4099ff;
        border: 1px solid #4099ff;
      }

      &-pinterest:hover {
        color: #fff;
        background: #c92228;
        border: 1px solid #c92228;
      }

      &-linkedin:hover {
        color: #fff;
        background: #2289bf;
        border: 1px solid #2289bf;
      }
    }

    &-fa-facebook {
      font-size: 14px;
      color: #3b5998;
    }

    &-fa-google-plus {
      font-size: 14px;
      color: #d62d20;
    }

    &-fa-twitter {
      font-size: 14px;
      color: #4099ff;
    }

    &-fa-pinterest {
      font-size: 14px;
      color: #c92228;
    }

    &-fa-linkedin {
      font-size: 14px;
      color: #2289bf;
    }
  }
}




/*Animation*/

@keyframes load {
  0%{
    color: rgba(0, 203, 246, 0.08);
    /*opacity: 0.08;*/
    /*         font-size: 10px; */
    /* 				font-weight: 400; */
    filter: blur(5px);
    letter-spacing: 3px;
  }
  100%{
    /*         opacity: 1; */
    /*         font-size: 12px; */
    /* 				font-weight:600; */
    /* 				filter: blur(0); */
  }
}

.animate {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100%;
  margin: auto;
  color: #00cbf6;
  font-size: 40px;
  font-family: Helvetica, sans-serif, Arial;
  background: rgba(0, 0, 0, 0.4);
  animation: load 1.2s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 1px white;
}