@import "variables";
@import "themes";
@import "fonts";
@import "sizes";
@import "mixins";

.block-title {
  @include block-title;
  padding-bottom: 13px;
}

.furniture-gallery {
  width: 100%;
  height: 603px;
  margin: 73px 0 40px 0;
  font-family: $main-font;

  &-content {
    width: 100%;

    &-tabs-menu {
      height: 45px;
    }

    &-items {
      width: 100%;
      height: 409px;
      background: $furniture-gallery-tabs-hover-bg-color;
    }

    &-item {
      &--active {
        display: block;
      }
      display: none;
      position: relative;
      width: 100%;
      height: 100%;

      &-opportunities {
        display: flex;
        flex-direction: column;
        padding: 138px 0 0 15px;

        &-block {
          width: 146px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 8px;

          &:last-child {
            margin-bottom: 0;
          }

          &-icon {
            width: 37px;
            height: 37px;
            border: 1px solid $furniture-gallery-item-opp-color;
            color: $furniture-gallery-item-opp-color;
            background: #f4f5f7;
            cursor: pointer;
            z-index: 4;

            &:focus {
              outline: none;
            }

            &:hover {
              color: $additional-color;
              border-color: $additional-color;
            }
          }

          &-title {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 26px;
            background: $furniture-gallery-item-opp-color;
            font-size: 12px;
            color: #f1f1f1;
            cursor: pointer;
            text-align: center;
            z-index: 4;

            &-like, &-view, &-bin {
              display: none;

              &--active {
                display: flex;
              }
            }

            &:hover {
              color: $additional-color;
            }

            &::after {
              height: 7px;
              content: "";
              position: absolute;
              left: -13px;
              bottom: 7px;
              border: 7px solid transparent;
              border-right: 7px solid $furniture-gallery-item-opp-color;
            }
          }
        }
      }

      &-price {
        position: absolute;
        bottom: 15px;
        left: 45px;
        width: 85px;
        height: 85px;
        background: #7b7b7c;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3;

        &-now {
          font-size: 18px;
          color: #ffffff;
        }

        &-old {
          font-size: 14px;
          color: #ffffff;
        }
      }

      &-bg {
        position: absolute;
        top: 25px;
        right: -20px;
        width: 388px;
        height: 328px;
        z-index: 1;

        &-first {
          background: url("../images/products/top-seller/10.png") 50% 50% no-repeat;
          background-size: contain;
        }

        &-second {
          background: url("../images/products/top-seller/11.png") 50% 50% no-repeat;
          background-size: contain;
        }

        &-third {
          background: url("../images/products/top-seller/12.png") 50% 50% no-repeat;
          background-size: contain;
        }

        &-fourth {
          background: url("../images/products/top-seller/13.png") 50% 50% no-repeat;
          background-size: contain;
        }

        &-fifth {
          background: url("../images/products/top-seller/14.png") 50% 50% no-repeat;
          background-size: contain;
        }
        &-sixth {
          background: url("../images/products/top-seller/15.png") 50% 50% no-repeat;
          background-size: contain;
        }
      }

      &-desc {
        position: absolute;
        bottom: 22px;
        right: 7px;
        width: 249px;
        height: 106px;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;

        &::before {
          content: "";
          margin-left: -218px;
          border: 15px solid transparent;
          border-left: 15px solid #2a2a2a;
          border-top: 15px solid #2a2a2a;
        }

        &::after {
          content: "";
          margin-left: 218px;
          border: 15px solid transparent;
          border-right: 15px solid #2a2a2a;
          border-bottom: 15px solid #2a2a2a;
        }

        &-title {
          font-size: 16px;
          color: #2a2a2a;
          text-align: center;
          font-weight: 500;
        }
      }
    }

    &-slider {
      &-container {
        width: 100%;
        height: 88px;
        background: #FFFFFF;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #e2e2e2;
      }

      &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        width: 300px;
        cursor: pointer;

        & > li {
          width: 60px;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $furniture-gallery-slider-item-bg-color;
          opacity: 0.6;

          &.slider-item-active {
            opacity: 1;
          }

          &:hover {
            border: 1px solid $additional-color;
          }

          & > img {
            width: 50px;
            height: 50px;
          }
        }
      }

      &-btn {
        padding: 0;
        width: 33px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $furniture-gallery-slider-bnt-color;
        background: $furniture-gallery-slider-bnt-bg-color;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:hover {
          color: #da9f8a;
        }
      }
    }
  }

  .tabs-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;

    & > li {
      height: 45px;
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      background: $furniture-gallery-tabs-bg-color;
      border: 1px solid $furniture-gallery-tabs-border-color;

      &.active {
        background: $furniture-gallery-tabs-hover-bg-color;
        color: $additional-color;
        border-top: 3px solid $additional-color;
        border-bottom: 0;
      }
    }
  }
  &-advert {
    display: none;
  }
}