@import "variables";
@import "themes";
@import "fonts";
@import "sizes";
@import "mixins";


.furniture-gallery {
  width: 100%;
  height: 603px;
  margin: 90px 0 70px 0;
  &-content {
    &-item {
      &-price {
        position: absolute;
        bottom: 123px;
        left: 480px;
        width: 105px;
        height: 105px;
        &-now {
          font-size: 20px;
        }
        &-old {
          font-size: 16px;
        }
      }
      &-bg {
        position: absolute;
        top: 0;
        right: 137px;
        width: 490px;
        height: 415px;
      }
      &-desc {
        position: absolute;
        bottom: 32px;
        right: 0;
      }
    }
    &-slider {
      &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        width: 455px;
        cursor: pointer;
        & > li {
          width: 70px;
          height: 70px;
          & > img {
            width: 60px;
            height: 60px;
          }
        }
      }
      &-btn {
        width: 40px;
      }
    }
  }
  .tabs-menu-list {
    & > li {
      font-size: 16px;
    }
  }
}