@import "themes";
@import "fonts";
@mixin modal_window_form {
  &-empty-bin-title {
    width: 445px;
    margin-bottom: 38px;
    font-size: 45px;
  }
  &-empty-bin-desc {
    width: 445px;
    font-size: 23px;
  }
  &-full-bin {
    &-desc {
      position: relative;
      width: 1029px;
      height: 218px;
      padding: 28px 0 0 26px;
      margin-bottom: 22px;

      &-img {
        margin-left: 0;
        margin-right: 27px;
        width: 20%;
        height: 180px;
      }

      &-item {
        width: 80%;
        &-title {
          &-bigger {
            display: inline;
          }
        }
        &-sum {
          margin-top: 27px;
        }
      }

      &-sum-price {
        position: absolute;
        top: 78px;
        left: 504px;
        width: 435px;
      }

      &-quantity {
        width: 263px;
        &-title {
          margin-top: 9px;
        }
        &-desc {
          width: 167px;
        }
      }
    }
    &-price-block {
      width: 1029px;
      margin-top: 11px;
    }
  }
}
.header {
  &__modal {
    &-content-login {
      width: 456px;
      height: 330px;
    }
    &-content-register {
      width: 456px;
      height: 398px;
    }
    &-content-empty-bin {
      width: 1140px;
      height: 261px;
    }
    &-content-full-bin {
      width: 1140px;
      height: 672px;
    }
    @include modal_window_form;
  }
  &__contacts {
    &-icon {
      display: block;
      font-size: 44px;
      color: $additional-color;
      margin-right: 13px;
    }
  }
  &__logo {
    width: 165px;
    height: 77px;
  }

  &__basket {
    &-logo {
      width: 51px;
      height: 49px;
    }

    &-amount {
      width: 23px;
      height: 23px;
    }
  }

  &__search-box {
    width: 320px;
    height: 47px;
  }

  &__navigation {

    &-menu {
      position: static;
      display: flex;
    }
  }
  &__menu-list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 575px;
    height: 85px;
    background: none;
  }

  &__menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 80px;
    &:hover {

    }
  }

  &__menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: $main-font;
    font-size: 14px;
    font-weight: 500;
    color: #363636;
    text-align: left;
    text-transform: uppercase;
    &--active {
      background: #d58e32;
      border-top: 2px solid #363636;
    }
    &:hover {
      background: #d58e32;
      border-top: 2px solid #363636;
      margin: 0;
      color: #FFFFFF;
      &::after {
        display: none;
      }
    }
  }
  &__hamburger {
    display: none;
  }
}