@import "fonts";
@import "themes";

@mixin container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
@mixin link {
  &-link {
    position: relative;
    margin-bottom: 0;
    font-family: $main-font;
    font-size: 13px;
    color: $header__title-color;
    text-align: left;
    &::after {
      display: none;
      position: absolute;
      top: 20px;
      left: 0;
      content: "";
      width: 100%;
      border-bottom: 1px solid $header__title-color;
    }
    &:hover {
      text-decoration: none;
      color: $header__title-color;
      &::after {
        display: block;
      }
    }
  }
}

@mixin container_modal_window {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 20;
  cursor: pointer;
}
@mixin modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: $modal-form-bg-color;
  box-shadow: #5f646d;
}

@mixin modal_window_form {
  &-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 41px;
    height: 37px;
    background: $modal-form-btn-bg-color;
    border: 0;
    color: $modal-form-btn-color;
    &:hover {
      background: $modal-form-btn-bg-color-hover;
    }
    &:focus {
      outline: none;
    }
  }
  &-form {
    margin: 64px 0 0 39px;
    &-label {
      margin-bottom: 31px;
      font-family: $main-font;
      font-size: 30px;
      font-weight: 600;
      color: #2a2a2a;
      text-align: left;
      text-transform: uppercase;
    }
    &-input {
      padding: 0;
      width: 345px;
      height: 51px;
      font-family: $main-font;
      font-size: 14px;
      color: $modal-form-input-color;
      text-align: center;
      margin-bottom: 17px;
    }
    input:last-of-type {
      margin-bottom: 0;
    }

    &-btn {
      margin-top: 17px;
      width: 115px;
      height: 42px;
      background: $modal-form-btn-bg-color;
      color: $modal-form-btn-color;
      border: 0;
      border-radius: 5px;
      font-family: $main-font;
      &:hover {
        background: $modal-form-btn-bg-color-hover;
      }
      &:focus {
        outline: none;
      }
    }
  }
  &-empty-bin {
    &-title {
      width: 250px;
      font-family: $main-font;
      font-size: 50px;
      font-weight: 600;
      color: $empty-bin-title-color;
      text-align: center;
      margin-bottom: 20px;
    }
    &-empty-bin-desc {
      width: 250px;
      font-family: $main-font;
      font-size: 30px;
      font-weight: 400;
      color: $empty-bin-desc-color;
      text-align: center;
    }
  }
  &-full-bin {
    &-desc {
      width: 375px;
      height: 276px;
      padding: 19px 0 0 14px;
      border: 2px solid #e2e2e2;
      &-img {
        margin-right: 140px;
        width: 30%;
        height: 140px;
        background: url("../images/products/furniture/furniture-chair-item5.png") 50% 50% no-repeat;
        background-size: contain;
      }
      &-item {
        width: 40%;
        &-title {
          font-family: ﻿$main-font;
          font-size: 22.5px;
          color: #2a2a2a;
          text-align: left;
          &-bigger {
            display: none;
          }
        }
        &-sum {
          margin-top: 12px;
          &-old-price {
            margin-right: 10px;
            font-size: 16px;
            font-weight: 600;
            color: $furniture__products-item-old-price-color;
            text-decoration: line-through;
          }
          &-price {
            width: 104px;
            height: 37px;
            font-size: 18px;
            font-weight: 600;
            color: $furniture__products-item-price-color;
            background: $furniture__products-item-price-bg;
            &:hover {
              background: #d58e32;
            }
          }
        }
      }
      &-sum-price {
        position: absolute;
        top: 240px;
        width: 333px;
      }
      &-quantity {
        width: 167px;
        font-size: 14px;
        color: #2a2a2a;
        text-align: left;
        &-title {
          font-family: ﻿$main-font;
          font-size: 16px;
        }
        &-count {
          width: 73px;
          height: 37px;
          border: 1px solid #2a2a2a;
          text-align: center;
          color: #2a2a2a;
          &:hover {
            color: #d58e32;
          }
          &:focus {
            outline: none;
          }
          &:hover {
            border-color: #d58e32;
          }
        }
        &-minus, &-plus {
          width: 40px;
          height: 37px;
          border: 1px solid #2a2a2a;
          background: #FFFFFF;
          &:focus {
            outline: none;
          }
          &:hover {
            border-color: #d58e32;
          }
        }
      }
      .fa-minus:hover, .fa-plus:hover {
        color: #d58e32;
      }
      &-sum {
        &-title {
          font-family: ﻿$main-font;
          font-size: 16px;
          color: #c5c5c5;
          text-align: center;
        }
        &-number {
          font-family: ﻿$main-font;
          font-size: 17.5px;
          font-weight: 600;
          color: #2a2a2a;
          text-align: center;
        }
      }
    }

    &-price-block {
      width: 375px;
      margin-top: 25px;
    }

    &-continue {
      width: 134px;
      height: 37px;
      background: #939393;

      &-icon {
        margin: 0 12px 0 15px;
        font-size: 14px;
        color: #ffffff;
      }

      &-desc {
        font-family: $main-font;
        font-size: 13px;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
      }
      &:hover {
        background: #d58e32;
      }
    }

    &-total-amount {
      width: 134px;
      &-title {
        font-family: ﻿ $main-font;
        font-size: 17.5px;
        color: #2a2a2a;
        text-align: center;
      }
      &-buy {
        width: 134px;
        height: 37px;
        background: #939393;
        &-icon {
          margin: 0 12px 0 15px;
          font-size: 14px;
          color: #ffffff;
        }
        &-desc {
          font-family: $main-font;
          font-size: 13px;
          font-weight: 600;
          color: #ffffff;
          text-transform: uppercase;
        }
        &:hover {
          background: #d58e32;
        }
      }
    }
  }
}
a {
  cursor: pointer;
}

input {
  outline: none;
  cursor: pointer;
}

.header {
  //for header__title
  &__title {
    display: flex;
    justify-content: center;
    height: 54px;
    background: $header__title-bg-color;
    color: $header__title-color;
    &-container {
      @include container;
    }
  }

  &__help-box {
    display: flex;

    &-item {
      margin-bottom: 0;
      margin-right: 33px;
      font-family: $main-font;
      font-size: 13px;
      color: $header__title-color;
      text-align: left;

      &:first-child {
        text-transform: uppercase;
      }
      @include link;
    }
  }

  &__authorization-box {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      &:first-child {
        margin-right: 33px;
      }
    }
    @include link;
  }

  &__modal {
    &-container-login {
      @include container_modal_window;
      &--active {
        display: block;
      }
    }
    &-container-register {
      @include container_modal_window;
      &--active {
        display: block;
      }
    }
    &-container-empty-bin {
      @include container_modal_window;
      &--active {
        display: block;
      }
    }
    &-container-full-bin {
      @include container_modal_window;
      &--active {
        display: block;
      }
    }
    &-content-login {
      width: 421px;
      height: 330px;
      @include modal_content;
    }
    &-content-register {
      width: 421px;
      height: 398px;
      @include modal_content;
    }
    &-content-empty-bin {
      width: 420px;
      height: 344px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @include modal_content;
    }
    &-content-full-bin {
      position: relative;
      width: 440px;
      height: 469px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      //align-items: center;
      padding-left: 17px;
      @include modal_content;
    }
    @include modal_window_form;
  }

  //for header__content
  &__content {
    display: flex;
    justify-content: center;
    height: 145px;
    background: $header__content-bg-color;
    color: $header__content-color;
    &-container {
      @include container;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    &-icon {
      display: none;
      font-size: 44px;
      color: $additional-color;
      margin-right: 13px;
    }
    &-tel {
      font-family: $main-font;
      font-size: 17px;
      color: $header__content-color;
      text-align: left;
      @include link;
    }
  }
  &__logo {
    width: 114px;
    height: 53px;
    background: url("../images/header/header__logo.png") 50% 50%;
    background-size: cover;
  }

  &__basket {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &-logo {
      display: flex;
      align-items: center;
      width: 45px;
      height: 43px;
      background: $additional-color;
      border-radius: 5px;
    }

    &-link {
      font-size: 20px;
      color: $header__title-color;
      text-align: left;
      margin-left: 20%;
      &:hover {
        color: $header__title-color;
      }
    }
    &-amount {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 25%;
      right: -25%;
      background: $header__content-bg-color;
      border-radius: 50%;
    }
  }
  //for header__navigation
  &__navigation {
    display: flex;
    justify-content: center;
    height: 84px;
    background: $header__navigation-bg-color;
    box-shadow: 0 3px 2px -2px gray;
    &-container {
    @include container;
      position: relative;
    }
    &-menu {
      display: none;
      position: absolute;
      top: 84px;
      right: 0;
      z-index: 10;
      &--active {
        display: block;
      }
    }
  }
  &__menu-list {
    list-style: none;
    margin: 0;
    padding: 27px 11px 27px 0;
    width: 154px;
    height: 390px;
    background: $header__menu-list-bg-color;
  }

  &__menu-item {
    cursor: pointer;
    margin-bottom: 30px;
  }

  &__menu-link {
    position: relative;
    display: block;
    font-family: $main-font;
    font-size: 14px;
    font-weight: 500;
    color: #848484;
    text-align: right;
    text-transform: uppercase;

    &:hover {
      color: #ffffff;
      text-decoration: none;
      margin-bottom: 17px;
      &::after {
        position: absolute;
        right: 0;
        bottom: -9px;
        content: "";
        width: 97px;
        border-bottom: 1px solid #646464;
      }
    }
  }
  &__search-form {
    position: relative;
  }
  &__search-form i {
    position: absolute;
    top: 15px;
    right: 13px;
    cursor: pointer;
  }
  &__search-box {
    width: 227px;
    height: 47px;
    padding: 15px;
    font-family: $main-font;
    font-size: 14px;
    text-align: left;
  }

  &__hamburger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 154px;
    height: 84px;
    background: #FFFFFF;
    &--close {
      display: flex;
      background: #363636;
    }

    &-icon {
      font-size: 20px;
      &--close {
        display: block;
        color: #ffffff;
      }
    }
  }
  .fa-bars {
    width: 29px;
    height: 25px;
    cursor: pointer;
  }
  .fa-times {
    width: 23px;
    height: 24px;
    cursor: pointer;
  }
}
