@import "themes";
@import "fonts";
@mixin modal_window_form {
  &-empty-bin-title {
    width: 445px;
    margin-bottom: 38px;
    font-size: 45px;
  }
  &-empty-bin-desc {
    width: 445px;
    font-size: 23px;
  }
  &-full-bin {
    &-desc {
      width: 671px;
      height: 218px;
      padding: 18px 0 0 17px;

      &-img {
        margin-left: 0;
        margin-right: 30px;
        width: 30%;
        height: 180px;
      }

      &-item {
        width: 50%;
      &-title {
        &-bigger {
          display: inline;
        }
      }
        &-sum {
          margin-top: 27px;
        }
      }
      &-sum-price {
        position: absolute;
        top: 190px;
        left: 260px;
        width: 405px;
      }

      &-quantity {
        width: 173px;
      }
    }
    &-price-block {
      width: 671px;
      margin-top: 33px;
    }
  }
}
  .header {
    &__modal {
      &-content-empty-bin {
        width: 555px;
        height: 261px;
      }
      &-content-full-bin {
        position: relative;
        width: 750px;
        height: 432px;
      }
      @include modal_window_form;
    }

    &__contacts {
      &-icon {
        display: block;
        font-size: 44px;
        color: $additional-color;
        margin-right: 13px;
      }
    }

    &__logo {
      width: 165px;
      height: 77px;
    }

    &__basket {
      &-logo {
        width: 51px;
        height: 49px;
      }

      &-amount {
        width: 23px;
        height: 23px;
      }
    }

    &__search-box {
      width: 320px;
      height: 47px;
    }
  }