@import "variables";
@import "themes";
@import "fonts";
@import "sizes";
@import "mixins";

.block-title {
  @include block-title;
}

.latest-blog {
  padding-top: 15px;
  padding-bottom: 60px;
  font-family: $main-font;

  &__title {
    font-size: 20px;
    line-height: 20px;
    color: $latest-blog-title-color;
  }

  &__decoration {
    margin-bottom: 20px;

    &-line {

      position: relative;
      width: 100%;
      border-bottom: 3px solid $latest-blog-decoration-border-color;

      &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 44px;
        border-bottom: 3px solid $latest-blog-decoration-after-border-color;
      }
    }

  }

  &__buttons-box {
    margin-left: 5px;
  }

  &__btn {
    width: 30px;
    height: 30px;
    color: $latest-blog-btn-color;
    background: $latest-blog-btn-bg;
    border: 1px solid $latest-blog-btn-border-color;
    cursor: pointer;

    &-prev {
      margin-right: 5px;
    }

    &:hover {
      color: $latest-blog-btn-hover-color;
      background: $latest-blog-btn-hover-bg;
      border: 1px solid $latest-blog-btn-hover-border-color;
    }
  }

  &__dots-item {
    width: 13px;
    height: 13px;
    margin-right: 12px;
    background: $latest-blog-dots-item-bg;
    border-radius: 50%;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      background: $latest-blog-dots-item-active-bg;
    }
  }

  &__content {

    &-item {
      width: 360px;

      &:hover {
        .latest-blog__content-title {
          color: $latest-blog-content-title-hover-color;
        }

        .latest-blog__content-btn {
          background: $latest-blog-content-btn-hover-bg;
        }
      }
    }

    &-image {
      width: 100%;
      height: 290px;
    }

    &-main-block {
      position: relative;
      top: -60px;
      width: 300px;
      height: 310px;
      background: $latest-blog-content-main-block-bg;
    }

    &-main-top {
      padding-top: 27px;

      &-date, &-comments {
        margin: 0;
        font-size: 13px;
        font-weight: 400;
        color: $latest-blog-content-main-top-date-color;
      }

      &-awesome {
        margin-right: 5px;
      }
    }

    &-title {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 600;
      color: $latest-blog-content-title-color;
    }

    &-description {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      color: $latest-blog-content-description-color;
    }

    &-btn {
      width: 165px;
      height: 45px;
      font-size: 16px;
      font-weight: 600;
      color: $latest-blog-content-btn-color;
      border: none;
      background: $latest-blog-content-btn-bg;
    }
  }
}

.fa-comments {
  color: $latest-blog-content-main-comments;
}

