@import "variables";
@import "themes";
@import "fonts";
@import "sizes";
@import "mixins";


.latest-blog {

  &__buttons-box {
    margin-left: 15px;
  }

  &__content {

    &-item {
      max-width: 330px;
    }
  }
}