@import "fonts";
@import "themes";

@mixin block-title {
  margin: 0;
  font-family: $main-font;
  font-weight: 600;
  text-transform: uppercase;
}

@mixin modal-position {
  position: fixed;
  top: 90px;
  left: 50%;
  margin: auto;
  transform: translate(-50%, 0);
}

//for header

@mixin container_modal_window {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
}
@mixin modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: $modal-form-bg-color;
  box-shadow: #5f646d;
}

@mixin modal_window_form {
  &-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 41px;
    height: 37px;
    background: $modal-form-btn-bg-color;
    border: 0;
    color: $modal-form-btn-color;
    &:hover {
      background: $modal-form-btn-bg-color-hover;
    }
  }
  &-form {
    margin: 64px 0 0 39px;
    &-label {
      margin-bottom: 31px;
      font-family: $main-font;
      font-size: 30px;
      font-weight: 600;
      color: #2a2a2a;
      text-align: left;
      text-transform: uppercase;
    }
    &-input {
      padding: 0;
      width: 345px;
      height: 51px;
      font-family: $main-font;
      font-size: 14px;
      color: $modal-form-input-color;
      text-align: center;
      margin-bottom: 17px;
    }
    input:last-of-type {
      margin-bottom: 0;
    }

    &-btn {
      margin-top: 17px;
      width: 115px;
      height: 42px;
      background: $modal-form-btn-bg-color;
      color: $modal-form-btn-color;
      border: 0;
      border-radius: 5px;
      font-family: $main-font;
      &:hover {
        background: $modal-form-btn-bg-color-hover;
      }
    }
  }
}