@import "variables";
@import "themes";
@import "fonts";
@import "sizes";

.offers {
  position: relative;
  width: 449px;
  height: 302px;
  &__item-container {
    width: 449px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--indoor {
       background: url("../images/top-slider/1.jpg") 50% 50% no-repeat;
       background-size: cover;
     }
    &--outdoor {
      background: url("../images/top-slider/2.jpg") 50% 50% no-repeat;
      background-size: cover;
    }
  }
  &__item {
    width: 418px;
    height: 212px;
    background: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 15px;
    &-title {
      margin-top: 32px;
      font-family: $main-font;
      font-size: 31px;
      text-align: center;
      text-transform: uppercase;
      color: $offers__item-color;
    }
    &-description {
      margin-top: 19px;
      font-family: $main-font;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      color: $offers__item-color;
    }
    &-btn {
      width: 136px;
      height: 54px;
      font-family: $main-font;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      outline: none;
      color: $offers__item-btn-color;
      background: $offers__item-btn-bg-color;
      border-radius: 3px;
      border: 0;
      &:hover {
        background: $additional-color;
        color: #FFFFFF;
        border: 0;
      }
      &:focus {
        outline: none;
      }
    }
  }
  &__buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 32px;
    &-btn {
      color: $offers__btn-color;
      font-size: 14px;
      border: 0;
      background: $offers__btn-bg-color;
      z-index: 1;
      cursor: pointer;
      &:hover {
        background: $offers__btn-hover-bg-color;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

