@import "variables";
@import "themes";
@import "fonts";
@import "sizes";

.offers {
  position: relative;
  width: 1138px;
  height: 505px;

  &__item-container {
    width: 1138px;
    height: 466px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    width: 100%;
    height: 214px;
    margin: 0;
    position: relative;

    &-title {
      font-size: 47px;
    }

    &-description {
      margin-top: 14px;
      font-size: 24px;
    }

    &-btn {
      position: absolute;
      top: 193px;
    }
  }

  &__buttons {
    height: 39px;
  }
}