@import "fonts";
@import "themes";
.container__btn-page-up {
  position: fixed;
  bottom: 50px;
  right: 30px;
  display: none;
  width: 70px;
  height: 70px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: $page-up-btn-bg-color;
  border: 2px solid;
  border-radius: 50%;
  opacity: 0.4;
  cursor: pointer;
  z-index: 9;
  &:hover {
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
}

