@import "variables";
@import "themes";
@import "fonts";
@import "sizes";

.stocks {

  &__wrapper {
    padding: 0;
  }

  &__item {
    height: $stocks-item-height + 60;

    &-guest-room {
      width: 50%;
      margin-right: 15px;
    }

    &-mobile-wrapper {
      width: 50%;
      margin-left: 15px;
    }

    &-office {

      &-name {

        &-title {
          width: 205px;
          font-size: 30px;
          font-weight: 300;

          &--bolder {
            font-weight: 600;
          }
        }

        &-description {
          font-size: 20px;
        }

        &-price {
          font-size: 36px;
        }
      }

      &-image {
        width: 165px;
      }
    }
    &-bed {

      &-name {
        width: 70%;

        &-title {
          font-size: 24px;
        }

        &-description {
          font-size: 18px;
        }
      }

      &-image {
        width: 265px;
      }
    }
  }
}
