@import "variables";
@import "themes";
@import "fonts";
@import "sizes";


.stocks {
  margin-top: $stocks-mt;
  font-family: $main-font;

  &__item {
    height: 135px;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &-guest-room {
      height: 420px;
      margin-bottom: 30px;
      padding: 30px;
      text-decoration: none;
      background: url("../images/stocks/stocks_guest-room.jpg") 50% 50% no-repeat;
      background-size: cover;

      &:hover {
        text-decoration: none;
      }

      &-container {
        width: 100%;
        height: 100%;
        padding: 20px;
        background: rgba(0, 0, 0, 0.4);
        color: $stocks-item-guest-room-color-text;
      }

      &-title {
        margin: 0;
        font-size: 36px;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-description {
        margin: 0;
        font-size: 60px;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-discount {
        width: 160px;
        padding: 15px 10px;
        font-size: 50px;
        line-height: 50px;
        font-weight: 600;
        text-transform: uppercase;
        border: 5px solid $stocks-item-guest-room-discount-border-color
      }
    }

    &-office {
      margin-bottom: 30px;
      background: $stocks-item-office-color;

      &-name {
        text-align: left;

        &-title {
          margin: 0;
          font-family: $main-font;
          font-size: 24px;
          font-weight: 600;
          text-transform: uppercase;
          color: $stocks-office-name-title-color;
        }

        &-description {
          font-family: $main-font;
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          color: $stocks-office-name-description-color;
        }

        &-price {
          font-family: $main-font;
          font-size: 30px;
          font-weight: 600;
          color: $stocks-office-name-price-color;
        }
      }

      &-image {
        width: 110px;
        height: 100%;

        &-old-chair {
          background: url("../images/stocks/stocks_old-chair.png") 60% 70% no-repeat;
          background-size: 125%;
        }

        &-new-chair {
          background: url("../images/stocks/stocks_new-chair.png") 50% 50% no-repeat;
          background-size: 100%;
        }

        &--reverse {
          transform: scaleX(-1);
        }
      }
    }
    &-bed {
      background: $stocks-item-bed-color;

      &-name {
        width: 70%;
        text-transform: uppercase;

        &-title {
          font-size: 18px;
          font-weight: 400;
          color: $stocks-bed-name-title-color;

          &--bolder {
            font-weight: 600;
          }
        }

        &-description {
          font-size: 14px;
          font-weight: 300;
          color: $stocks-bed-name-description-color;
        }
      }

      &-image {
        width: 210px;
        height: 100%;

        background: url("../images/stocks/stocks_bed.png") 50% 50% no-repeat;
        background-size: 120%;

        &--reverse {
          transform: scaleX(-1);
        }
      }
    }
  }
}
