@import "variables";
@import "themes";
@import "fonts";
@import "sizes";

.stocks {

  &__wrapper {
    padding: 0 98px;
  }

  &__item {
    height: $stocks-item-height + 60;

    &-office {

      &-name {

        &-title {
          width: 200px;
          font-size: 30px;
          font-weight: 300;

          &--bolder {
            font-weight: 600;
          }
        }

        &-description {
          font-size: 20px;
        }

        &-price {
          font-size: 36px;
        }
      }

      &-image {
        width: 160px;
      }
    }
    &-bed {

      &-name {
        width: 70%;

        &-title {
          font-size: 24px;
        }

        &-description {
          font-size: 18px;
        }
      }

      &-image {
        width: 265px;
      }
    }
  }
}
