.subscribe {

  &__form {

    &-label {
      margin-right: 55px;
    }

    &-input {
      width: 100%;

      &-envelope {
        left: 195px;
        padding: 0 15px;
      }
    }

    &-btn {
      margin-left: 20px;
    }
  }
}