@import "variables";
@import "themes";
@import "fonts";
@import "sizes";

.subscribe {
  padding-top: 35px;
  padding-bottom: 35px;
  background: $subscribe-bg-color;

  &__form {
    position: relative;
    
    &-label {
      margin: 0;
      font-family: $main-font;
      font-size: 22px;
      font-weight: 600;
      color: $subscribe-form-label-color;
    }

    &-input {
      position: relative;
      width: 100%;
      height: 46px;
      padding-left: 65px;
      padding-right: 10px;
      font-family: $main-font;
      font-weight: 400;
      font-size: 14px;
      background: $subscribe-form-btn-bg;
      border: none;
      border-radius: 3px;

      &::placeholder {
        font-family: $main-font;
        font-size: 14px;
        font-weight: 400;
        color: $subscribe-form-input-placeholder-color;
      }

      &-envelope {
        position: absolute;
        left: 0;
        padding: 0 15px;
        font-size: 18px;
        line-height: 18px;
        color: $subscribe-form-envelope-color;
        border-right: 1px solid $subscribe-form-input-placeholder-color;
      }
    }

    &-btn {
      width: 46px;
      height: 46px;
      box-sizing: border-box;
      margin-left: 15px;
      padding: 16px;
      font-size: 16px;
      line-height: 16px;
      color: $subscribe-form-btn-color;
      background: $subscribe-form-btn-bg;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}
