$additional-color: #d58e32;

$page-up-btn-bg-color: #2a2a2a;

$header__title-bg-color: #434343;
$header__title-color: #e6e6e6;
$modal-form-bg-color: #ffffff;
$modal-form-btn-bg-color: #2a2a2a;
$modal-form-btn-bg-color-hover: #d58e35;
$modal-form-btn-color: #ffffff;
$modal-form-input-color: #676767;
$empty-bin-title-color: #939393;
$empty-bin-desc-color: #9a9a9a;
$header__content-bg-color: #363636;
$header__content-color: #d8d8d8;
$header__navigation-bg-color: #ffffff;
$header__hamburger-color: #ffffff;
$header__menu-list-bg-color: #363636;
$header__menu-link-color: #a7a7a7;
$header__menu-item-color-hover: #e3e3e3;


$offers__btn-bg-color: #2a2a2a;
$offers__btn-hover-bg-color: #d58e32;
$offers__btn-color: #ffffff;
$offers__item-color: #ffffff;
$offers__item-btn-bg-color: #ffffff;
$offers__item-btn-color: #2a2a2a;

$features__item-border-color: #b7b7b7;
$features__item-icon-hover-border-color: #d99844;
$features__item-title-color: #2a2a2a;
$features__item-title-hover-color: #e0a38e;
$features__item-desc-color: #383838;
$features__item-desc-hover-color: #e2a996;
$features__item-icon-hover-bg-color: #d58e32;



$stocks-item-guest-room-color-text: #fff;
$stocks-item-guest-room-discount-border-color: #fff;
$stocks-item-office-color: #e8edf7;
$stocks-item-bed-color: #fbf3f7;
$stocks-office-name-title-color: #000;
$stocks-office-name-description-color: #000;
$stocks-office-name-price-color: #d58e32;
$stocks-bed-name-title-color: #d58e32;
$stocks-bed-name-description-color: #000;



$hover-text-color: #d58e32;
$hover-bg-color: #d58e32;
$hover-text-another-color: #fff;


$furniture-title-color: #2a2a2a;
$furniture-title-block-border-color: #2a2a2a;
$furniture-hamburger-color: #373737;
$furniture-hamburger-border-color: #b7b7b7;
$furniture__products-item-image-block-bg: #f4f5f7;
$furniture__products-item-top-info-bg: #2a2a2a;
$furniture__products-item-top-info-color: #fff;
$furniture__products-item-btn-bg: #2a2a2a;
$furniture__products-item-btn-color: #fff;
$furniture__products-item-title-color: #2a2a2a;
$furniture__products-item-main-block-border-color: #e6e6e6;
$furniture__products-item-bottom-block-border-color: #9c9c9c;
$furniture__products-item-bottom-block-after-color: #d58e32;
$furniture__products-item-bottom-btn-color: #2a2a2a;
$furniture__products-item-bottom-btn-bg: #fff;
$furniture__products-item-bottom-border-color: #2a2a2a;
$furniture__products-item-price-bg: #2a2a2a;
$furniture__products-item-price-color: #fff;
$furniture__products-item-old-price-color: #9c9c9c;
$furniture__products-item-btn-more-color: #2a2a2a;
$furniture__products-item-btn-more-bg: #eeeeee;

$furniture__filters-title-color: #2a2a2a;
$furniture__filters-title-border-color: #2a2a2a;
$furniture__filters-list-item-color: #2a2a2a;
$furniture__filters-list-item-amount-color: #fff;
$furniture__filters-list-item-amount-bg: #2a2a2a;

$furniture-gallery-tabs-bg-color: #fffff;
$furniture-gallery-tabs-hover-bg-color: #f4f5f7;
$furniture-gallery-tabs-border-color: #e2e2e2;
$furniture-gallery-slider-item-bg-color: #d3d3d3;
$furniture-gallery-slider-bnt-bg-color: #2a2a2a;
$furniture-gallery-slider-bnt-color: #fafafa;
$furniture-gallery-item-opp-color: #2a2a2a;
$furniture-gallery-advert-bg-color: #e8edf7;

$latest-blog-title-color: #d58e32;
$latest-blog-decoration-border-color: #e2e2e2;
$latest-blog-decoration-after-border-color: #d58e32;
$latest-blog-btn-bg: #fff;
$latest-blog-btn-color: #2a2a2a;
$latest-blog-btn-border-color: #2a2a2a;
$latest-blog-btn-hover-bg: #d58e32;
$latest-blog-btn-hover-color: #fff;
$latest-blog-btn-hover-border-color: #d58e32;
$latest-blog-dots-item-bg: #e2e2e2;
$latest-blog-dots-item-active-bg: #d58e32;
$latest-blog-content-main-block-bg: #fff;
$latest-blog-content-main-top-date-color: #676767;
$latest-blog-content-main-comments: #2a2a2a;
$latest-blog-content-title-color: #2a2a2a;
$latest-blog-content-title-hover-color: #d58e32;
$latest-blog-content-description-color: #676767;
$latest-blog-content-btn-color: #fff;
$latest-blog-content-btn-bg: #2a2a2a;
$latest-blog-content-btn-hover-bg: #d58e32;



$subscribe-bg-color: #f2f2f2;
$subscribe-form-label-color: #d58e32;
$subscribe-form-input-bg: #fff;
$subscribe-form-input-placeholder-color: #bebebe;
$subscribe-form-envelope-color: #d58e32;
$subscribe-form-btn-color: #d58e32;
$subscribe-form-btn-bg: #fff;



$footer-menu-bg-color: #363636;
$footer-menu-item-text-color: #fff;
$footer-menu-item-link-color: #989898;
$footer-copyright-bg-color: #2a2a2a;
$footer-copyright-text-color: #989898;
$footer-copyright-social-color: #989898;
$footer-copyright-social-color-hover: #d58e32;
